name="example-pid-service"
description="an example optional description"
check_type=pid
check_process=name-of-the-process
check_period=600
restart_action="/etc/init.d/service restart"
restart_number=5
restart_interval=120
notification=email@example.com
